header{
    /*background-color: var(--dark-color); */
    background-color: #060b26;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}


header h1 {
   /* color: var(--light-color);*/
   color: white;
}