
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .homeContainer h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .homeContainer p {
    font-size: 1.2rem;
    text-align: center;
    max-width: 80%;
    line-height: 1.5;
  }