.passwordReset {
    max-width: 500px;
    margin: 100px auto 0;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center; 
  }
  
  .passwordReset h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
  }
  
  .passwordReset input[type='password'] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .passwordReset .buttonContainer {
    display: flex;
    justify-content: center; 
  }
  
  .passwordReset button {
    padding: 15px 30px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px; 
  }
  
  .passwordReset button:hover {
    background-color: #0056b3;
  }
  